/* Default */
body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: beige;
}
.wrapper {
    max-width: 800px;
    margin: 35vh auto 0 auto;
}

/* Coming Soon */
.coming-soon > .logo {
    display: block;
    overflow: hidden;
    text-indent: -90000px;
    width: 100%;
    height: 220px;
    background: url(../assets/logo.png) no-repeat;
    background-size: 100%;
}

.coming-soon h2 {
    text-align: center;
    color: #102e76;
    font-family: 'Diphylleia', serif;
}